

*, *:before, *:after {
  box-sizing: border-box;
}


body {
  font-size: 10px;
  font-family: sans-serif;
}

/*extablishing the appearance for smallest screen */

div {
  float: left;
  margin: 5px 0;
  width: 100%;
  height: 100%
  padding: 0px;
}

/* changing h1 just for heading */

.container{
  font-family: sans-serif;
  font-size: 175%;
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

/* adding space between title and images*/

h1 {
  padding-bottom: 20px;
}

/*formatting text and background images for the cities*/

.preview {
  font-family: serif;
  height: 300px;
  font-size: 150%;
  text-align: left;
  text-transform: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding:30px 20px 15px 30px
  }

/*images for each city specifically */

.baku {
  background-image: url(../images/baku.jpg);
}

.london {
  background-image: url(../images/london.png);
}

.madrid {
  background-image: url(../images/madrid.jpg);
}

.rome {
  background-image: url(../images/rome.jpg);
}


/*two columns for tablets & large smartphones */
@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }


/*four columns for desktops */
@media screen and (min-width: 1199px){
    div {
      margin: 1%;
      width: 23%;
  }
